<div class="container">
  <div class="row mt-3">
    <div class='col-md-4'>
      <%= render 'brewery/sakes/sake', sake: @sake %>
    </div>
    <div class="col-md-7 offset-md-1">
      <div class="row">
        <%= render 'shop/comments/comment_form', sake: @sake, comment: @comment %>
      </div>
      <div class="row">
        <h4>コメント一覧</h4>
        <%= render 'shop/comments/comment_list', sake: @sake, comments: @comments %>
      </div>
    </div>
  </div>
</div>