<div class="container">
  <div class="row mt-3">
    <div class='col-md-3'>
      <h2>店舗詳細</h2>
      <table class="table">
        <thead>
          <tr>店舗の情報<tr>
        </thead>
        <%= render 'brewery/shops/info', user: @user %>
      </table>
      <%= link_to "会員情報の編集", edit_admin_shop_path(@user), class: "btn btn-outline-secondary btn-sm" %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3>取扱中のお酒</h3>
      <%= render 'admin/sakes/index', sakes: @sakes %>
    </div>
  </div>
</div>