<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-4">
      <h3 class="text-center">タグ名称変更</h3>
        <% if @tag.errors.any? %>
          空白での登録はできません。
        <% end %>
          <%= form_with model: @tag, url: admin_tag_path, method: :patch do |f| %>
            <%= f.text_field :name, class: 'form-control', placeholder: "タグを入力してください" %>
            <%= f.submit '変更を保存', class: 'btn btn-success mt-2' %>
          <% end %>
    </div>
  </div>
</div>