<div class="container">
  <div class="row mt-3">
    <div class='col-md-3'>
    <h2>酒造詳細</h2>
      <table class="table">
        <thead>
          <tr>酒造の情報<tr>
        </thead>
        <%= render 'shop/breweries/info', user: @user %>
      </table>
      <%= link_to "会員情報の編集", edit_admin_brewery_path(@user), class: "btn btn-outline-secondary btn-sm" %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h4>取扱商品一覧</h4>
      <%= render 'admin/sakes/index', sakes: @sakes %>
    </div>
  </div>
</div>