<div class="container">
  <div class="row mt-3">
    <div class='mx-auto col-sm-6'>
      <%= image_tag 'SSS.png', class: 'img-fluid' %>
      <h2>SakeSearchSystem | SSS</h2>
      <p>
        酒造各社が出している得意先取扱情報を統一し、<br>
        酒販店だけではなく飲食店も含めたコミュニティサイトプラットフォーム<br>
        を目指したポートフォリオ。
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to "admin", new_admin_session_path, class: 'btn btn-outlone-light text-white'%>
      </div>
    </div>
  </div>
</div>