<div class="container">
  <div class="row mt-3">
    <div class='mx-auto col-4'>
      <h3 class="text-center">商品編集</h3>
      <%= render '/layouts/errors', obj: @sake %>
      <%= form_with model: @sake, url: brewery_sake_path(@sake.id), local: true do |f| %>
        <%= render 'form', f: f %>
        <%= f.submit "変更を保存", class: "btn btn-outline-success btn-sm btn-block mt-2" %>
      <% end %>
    </div>
  </div>
</div>