<div class="container">
  <div class="row mt-3">
    <div class='col-md-3'>
    <h2>酒造詳細</h2>
      <table class="table">
        <thead>
          <tr>酒造の情報<tr>
        </thead>
        <%= render 'shop/breweries/info', user: @user %>
      </table>
    </div>
    <div class='col-md-9'>
      <h4>取扱商品一覧</h4>
      <%= render 'shop/sakes/index', sakes: @sakes %>
    </div>
  </div>
</div>